.wrapper {
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
}
.headerName {
	position: fixed;
	font-size: 15px;
	padding: 10px;
	color: grey;
}
.introDiv {
	height: 100vh;
}
.introText {
	padding-top: 20%;
}
header h1 {
	font-size: 45px;
}
p {
	padding:20px;
}
.article-h1 {
	padding: 20px;
}
p, article {
	font-size: 18px;
}
article {
	width: 500px;
    padding: 0px 50px 50px 50px;
    margin: 0 auto;
}
.skillsDiv {
	display:flex;
	background: black;
	color: black;
	height: 100vh;
}
.frontEndDiv, .backEndDiv {
	margin: auto;
	border-radius: 10px;
	background-color: white;
}
.skillsDiv h3{
	margin-top:40px;
}
.projectsDiv {
	display:flex;
	flex-wrap: wrap;
	height: 75vh;
	text-align:center;
}
.project {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
	margin: auto;
}
.projectsDivHeader, .contactDivHeader {
	padding-top: 30px;
}
.contactDivHeader{
	background-color: lightgrey;
}
.contactDiv {
	height: 75vh;
	background-color: lightgrey;
	display:flex;
}
.contact {
	margin: auto;
}
.arrow {
  background-image:url("./arrow.jpg");
  text-align: center;
  height: 128px;
  width: 128px;
  bottom: 0;
  animation: bounce 2s infinite;
	margin-top: 150px;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100%{
    transform: translateY(0px)
  }
  40% {
    transform: translateY(-40px)
  }
  60% {
    transform: translateY(-20px)
  }
}

/*--------for cursor--------*/
.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
/*--------media query here for iphone 6--------*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2){
  	header h1 {
  		font-size: 75px;
  	}
  	header {
  		padding-bottom: 20px;
  	}
  	.profile-image {
  		height: inherit;
  	}
  	p, article {
  		font-size: inherit;
  	}
	article {
		width: inherit;
	    padding: 30px;
	    margin: 0 auto;
	}
	.article-h1 {
		font-size: 60px;
	}
	.contact-icon {
		height: 175px;
    	padding: 25px
	}
}
