.wrapper {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  background-color: white;
  color: #212121;
}


/*==========HEADER==========*/

.headerName {
  position: fixed;
  font-size: 15px;
  padding: 10px;
  color: grey;
}

.introDiv {
  height: 100vh;
}

.introText {
  padding-top: 20%;
  font-size: 45px;
}

p {
  padding: 20px;
}

.article-h1 {
  padding: 20px;
}

p, article, .projectText, span {
  font-size: 12px;
}

article {
  width: 500px;
  padding: 0px 50px 50px 50px;
  margin: 0 auto;
  height: 44%;
  position: relative;
}

.arrow {
  text-align: center;
  height: 128px;
  width: 128px;
}

.scrollDiv {
  position: absolute;
  bottom: 0;
  left: 38%;
}

.skillsDiv {
  display: flex;
  background: #212121;
  color: black;
  height: 100vh;
}


/*============PROJECT DIVS=========*/

.grey {
  color: #212121;
}

.gif {
  height: 400px;
  width: 580px;
  border: 1px solid #212121;
  margin: auto;
}

.img {
  width: 100%;
}

.projectGitIcon {
  width: 40px;
}

.frontEndDiv, .backEndDiv, .front, .back {
  margin: auto;
  text-align: center;
  background-color: white;
}

.front, .back {
  padding: 70px;
}

.skillsDiv h3 {
  margin-top: 40px;
}

.fixedElement {
  background-color: #c0c0c0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.project {
  display: flex;
  height: 100vh;
}

.projectPositionDiv {
  display: flex;
  margin: 20% auto;
  width: 80vw;
}

.projectsDivHeader, .contactDivHeader {
  padding-top: 30px;
}

.projectText {
  width: 25%;
  height: 400px;
  margin: 0 25px;
  padding: 9px;
  line-height: 1.5em;
  background-color: #212121;
  color: white;
  font-size: 15px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projectText h3 {
  font-weight: 300;
  line-height: 2em;
  border-bottom: 1px solid white;
}

.artSeen {
  background-color: #888888;
}


/*===============CONTACT FOOTER===============*/

.contactDivHeader {
  background-color: #212121;
  color: white;
}

.contactDiv {
  background-color: #212121;
  display: flex;
  color: white;
  font-size: 15px;
  font-weight: 300;
}

.contact {
  margin: auto;
}


/*============CURSOR FROM TYPED.JS============*/

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*--------media query here for iphone 6--------*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {}
