.wrapper {
	text-align: center;
	font-family: Special Elite;
	padding-top: 50px;
	font-size: 30px;
}
header h1 {
	font-size: 45px;
}
p {
	padding:20px;
}
.article-h1 {
	padding: 20px;
}
p, article {
	font-size: 18px;  
}
article {
	width: 500px;
    padding: 0px 50px 50px 50px;
    margin: 0 auto;
}
.profile-image {
	height: 400px;
}
.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2){
  	header h1 {
  		font-size: 75px;
  	}
  	header {
  		padding-bottom: 20px;
  	}
  	.profile-image {
  		height: inherit;
  	}
  	p, article {
  		font-size: inherit;
  	}
	article {
		width: inherit;
	    padding: 30px;
	    margin: 0 auto;
	}
	.contact-icon {
		height: 175px;
    	padding: 25px
	}
}