.container {
	background: rgb(222, 222, 222);
	width:75%;
	margin: 0 auto;
	padding: 20px;
}

.nav {
	background: black;
	text-align: center;
	padding: 10px;
	margin-bottom:25px;
}

.nav a {
	color: white;
	text-decoration: none;
}

.red {
	background: tomato;
	padding: 20px 10px;
	text-align: center;
}

#blue {
	color: blue;
}

#green {
	color: green;
}

#yellow {
	color:yellow;
}