/* FONT FAMILY HELPERS :)
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif;*/
body, header, h1, h2, p {
	margin: 0;
}
.Merriweather {
	font-family: 'Merriweather', serif;
}
header h1{
	color: yellow;
	font-size: 25px;
	float:left;
	clear:right;
	padding:10px;
}
.headerfooter {
	background: black;
	height: 50px;
	margin: 0;
	border-bottom: 3px solid yellow;
}
.footer {
	border-bottom: none;
}
nav {
	margin-right: 5%;
}
nav a{
	text-decoration: none;
	float: right;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	margin: 15px;
	color: white;
}
.subtext {
	font-style: italic;
	background: #C6C6C6;
	text-align: center;
	padding: 15px 0px;
}
#taste {
	text-decoration: line-through;
	color: grey;
}
#are {
	border-bottom: 2px solid yellow;
}
.container {
	background-image: url(../img/coworking.jpg);
	background-size: cover;
	height: 100%;
	width: 100%;
}
#yellow-button{
	background: yellow;
}
section {
	display: inline-block;
	background-color: #c6c6c6;
	float: left;
	width: calc(100%/3);
}
.oswald {
	font-family: 'Oswald', sans-serif;
	text-align: justify;
}
button {
	background: grey;
	border-radius: 7px;
	height: 45px;
	width: 100%;
	font-size: 15px;
	margin-top:10px;
	font-family: 'Oswald';
}
.box {
	background: rgba(204, 198, 198, .9);
	width: 400px;
	float: right;
	padding: 40px;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	margin: 50px 50px 50px 100%;
	box-shadow: 0px 0px 3px grey;
}
.box h1 {
	font-family: 'Oswald', sans-serif;
}
footer {
	background: black;
	color: white;
	clear:both;
	position:absolute;
	bottom:0;
	width:100%;
}
footer h3 {
	margin:10px;
}
