.container {
	width:720px;
	padding: 54px;
	font-family: "Lato"
}
header h1 {
	line-height: 1.5;
	float: left;
	color: #DD0000;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 10px;
}
header h3 {
	line-height: 1.5;
	float:left;
	color: grey;
	font-size: 20;
	font-weight: normal;
	margin-top: 70px;
    margin-left: 20px;
}
img.article-image {
	width: 100%;
}
img.ad-image {
	
}
article {
	float: left;
	width: 60%;
	padding: 50px 0;
	border-bottom: solid 1px grey;
	margin: 10px;
}
article p {
	color: #444444;
}
article p::first-letter{
	float:left;
	color:#dddddd;
	font-size: 70px;
}
article h1 {
	color:#dddddd;
	font-weight: normal;
}
article h2 {
	font-weight: normal;
}
.continues {
	color: #DD0000;
	text-align: right;
	font-weight: bold;
}
.continues:hover {
	color: #aa0000;
}
nav.top-nav {
	clear:both;
}
nav.top-nav a{
	float:left;
	text-decoration: none;
	color: white;
	background: black;
	width:calc(100%/6.1);
	font-size: 15px;
	border-right: 1px solid white;
	text-align: center;
	padding: 10px 0px ;
}
nav.top-nav a:hover {
	color: #dd0000
}
nav.bottom-nav a{
	text-decoration: none;
	padding: 0 10px;
	font-size: 15;
	border-right: 1px solid grey;
	color: #DD0000;
	margin-top: 15px;
}
nav.bottom-nav a:last-child {
  border-right-style: none
}
nav.bottom-nav a:hover {
	color: white;
	background: black;
}
footer {
	margin: 20px;
}
