.raleway {
	font-family: Raleway, sans-serif;
}
.openSansCondensed {
	font-family: Open Sans Condensed, sans-serif;
}
h1 {
	font-size: 40px;
	padding: 20px;
	text-align: center;
}
input {
	width: 100%;
	border: none;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
input:focus {
	outline: none;
}
article {
	padding: 20px;
	text-align: center;
	margin:0;
	display:inline-block;
	height: 100%;
	font-size:20px;
}
h2{
	font-size: 30px;
	margin-bottom: 10px;
}
.showImage {
	background: red;
	border: 2px solid green;
	height: 250px;
	width: 250px;
	margin: 20px 0px;
}
#map {
	background-color: lightblue;
	height: 800px;
	width: 100%;
}
#address {
	padding-bottom: 20px;
}
#images {
	background: pink;
	height: 200px;
}