.raleway {
	font-family: Raleway, sans-serif;
}
.openSansCondensed {
	font-family: Open Sans Condensed, sans-serif;
}
#map {
	height: 500px;
	width: 100%;
}
h1 {
	font-size: 40px;
	padding: 20px;
	text-align: center;
}
input {
	width: 100%;
	border: none;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
input:focus {
	outline: none;
}
article {
	padding: 20px;
	text-align: center;
	margin:0;
	height: 100%;
	font-size:20px;
}
.museumName{
	font-size: 30px;
	margin: 10px;
}
#address {
	padding-bottom: 20px;
}
#museumInfo {
	text-align: center;
}