<%= inline_svg("gitHired_logo_1.svg", class:"logoMain")%>
<div class= "form">
  <h3 class = "robotoMono welcomeText">Where devs git jerbz</h3>
  <button class= "button robotoCondensedReg"><%= link_to "Log In", login_path, class: "welcomeLink"%></button>
  <button class= "button robotoCondensedReg"><%= link_to "Sign Up", signup_path, class: "welcomeLink"%></button>
</div>
