.wrapper {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
}

.RobotoCondensed{
  font-family: 'Roboto Condensed', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
header{
  padding: 10px 0 0 10px;
}
.fixed{
  position: fixed;
}
/*==========HEADER==========*/

.introDiv {
  height: 100vh;
}

.introText {
  padding-top: 20%;
  font-size: 45px;
}

p {
  padding: 20px;
}

.small {
  font-size: 15px;
}

.medium {
  font-size: 25px;
}

.big {
  font-size: 45px;
  line-height: 3em;
}

.Name {
  font-size: 60px;
}

article {
  width: 500px;
  padding: 0px 50px 50px 50px;
  margin: 0 auto;
  height: 44%;
  position: relative;
}

.arrow {
  text-align: center;
  height: 128px;
  width: 128px;
}

.scrollDiv {
  position: absolute;
  bottom: 0;
  left: 38%;
}
/*==============NAV==================*/
.nav{
  width: 15vw;
  padding: 30px;
  margin-top: 20px;
  background-color: rgba(192,192,192,.9);
  display: block;
  text-align: left;
}
.navLink{
  display: block;
  width: 100%;
  border-bottom: 1px solid transparent;
}
.navLink:hover{
  color: white;
  border-bottom: 1px solid black;
}
.projectList{
  margin-left: 10%;
}
/*===========SKILLS DIVS ===========*/
.skillsDiv {
  background: #212121;
  color: black;
  height: 100vh;
}

.frontEndDiv, .backEndDiv {
  margin: auto;
  text-align: center;
  background-color: white;
  width: 40vw;
}

.front, .back {
  padding: 70px;
}

.skillsDivHeader {
  color: white;
}

.skillListItem{
  line-height: 3em;
}

/*============PROJECT DIVS=========*/
.grey {
  color: #212121;
}
.projectsDivHeader{
  /*background-color: rgba(255,255,255,.9);*/
  background-color: rgba(0,0,0,.5);
  margin: 0 40px;
  width: 40vw;
  font-size: 45px;
}
.gif {
  height: 400px;
  width: 580px;
  border: 1px solid #212121;
  margin: auto;
}

.img {
  padding: 5%;
  margin-top: 20px;
}
.fixedElement {
  background-color: #c0c0c0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.project {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.projectIcon{
  height: 40px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.contactDivHeader {
  padding-top: 30px;
}

.projectText {
  width: 45%;
  margin: auto 0;
  height: 80%;
  padding:1%;
  line-height: 1.5em;
  background-color: rgb(33,33,33);
  /*background-color: black;*/
  color: white;
  font-size: 15px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.projectAbout{
  width: 70%;
  margin: 0 auto;
  text-align: justify
}
.techList{
  width: 70%;
  text-align: left;
  margin: 0 auto;
}
.projectText h3 {
  font-weight: 300;
  line-height: 2em;
  border-bottom: 1px solid white;
}

/*===============CONTACT FOOTER===============*/

.contactDivHeader {
  background-color: #212121;
  color: white;
  text-align: center;
}

.contactDiv {
  background-color: #212121;
  display: flex;
  color: white;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 5%;
}

.about {
  width: 40%;
  margin: auto;
  text-align: justify;
  padding-bottom: 2%;
  line-height: 1.5em;
}

/*======NAV ANIMATION FROM https://codepen.io/designcouch/pen/Atyop =====*/

#nav-icon{
  width: 60px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 50%;
  background: black;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 0px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 36px;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/*============CURSOR FROM TYPED.JS============*/

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*--------media query here for iphone 6--------*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {}
