 <%= inline_svg("gitHired_banner.svg", class: "logoBanner")%>

<nav>
  <%= button_to("Logout", logout_path, method: "delete", class: "button robotoMono logout") %>
  <%= button_to("Profile", "/users/:id", method: "get", class: "button robotoMono profile") %>
</nav>

<div class = "footer robotoMono">
  <p>Made with ❤️ by jubeccod</p>
</div>
