.container {
	width:720px;
	padding: 54px;
	font-family: "Lato";
}
.container header h1 {
	line-height: 1.5;
	color: #DD0000;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 10px;
}
header h3 {
	color: black;
	font-size: 30px;
	font-weight: normal;
}
img {
	width: 100%;
}
article {
	padding: 50px 0;
	border-bottom: solid 1px grey; 
}
article p {
	color: #444444;
}
article h1 {
	color:#dddddd;
	font-weight: normal;
}
article h2 {
	font-weight: normal;
}
.continues {
	color: #DD0000;
	text-align: right;
	font-weight: bold;
}
.continues:hover {
	color: #aa0000;
}
nav.top-nav a{
	text-decoration: underline;
	display: inline-block;
	color: #dddddd;
	font-size: 20px;
	padding-right:10px;
}
nav.top-nav a:hover {
	color: black
}
nav.bottom-nav a{
	text-decoration: none;
	padding: 0 10px;
	font-size: 20px;
	border-right: 2px solid grey;
	color: #DD0000;
	margin-top: 15px;
}
nav.bottom-nav a:last-child {
  border-right-style: none;
}
nav.bottom-nav a:hover {
	color:  #aa0000;
}
footer {
	margin: 20px;
}