.container {
	width:720px;
	padding: 54px;
	font-family: "Lato"
}
header h1 {
	line-height: 1.5;
	color: #DD0000;
}
header h3 {
	color: black
}
article p {
	color: #444444
}
.continues {
	color: #DD0000;
}
.continues: hover {
	color: #aa0000
}
nav .top-nav a {
	color: dddddd
	margin:
}
nav .top-nav: hover {
	color: black
}
nav .bottom-nav a {
  padding: 0 10px;
  font-size: 20px;
  border-right: 2px solid grey;
  text-decoration: none;
  color: #DD0000;
}
nav .bottom-nav a:last-child {
<<<<<<< Updated upstream
  border-right-style: none
}
nav .bottom-nav a:hover {
	color:  #aa0000
}
=======
  border-right-style: none
>>>>>>> Stashed changes
